:root {
    --op--font-size: 0.7rem;
    --op--width: calc(var(--op--font-size) * 7);
    --op--height: calc(var(--op--width) * 2.55); 
    --op--margin-top: 0.4rem;
    --op--margin-right: 0.2rem;
    --op-container--width: calc((var(--op--width) + var(--op--margin-right)) * 5);
}

.modal-content {
    max-width: 700px;
}

.modal-body {
    font-size: 0.9rem;
}

.modal-body .hr,
.modal-body hr {
    margin: 0;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

.modal-body .config-category {
    margin-bottom: 0.2em;
}

.modal-body #opname {
	font-weight: 500;
	text-align: left;
	width: 95%;
}

.modal-body button,
.op .button {
	/*font-family: 'Noto Sans KR', sans-serif;*/
	font-size: 0.7em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	border-color: #aaa;/*#ccc;*/
    color: #ddd;
}

.op .thumb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.op .thumb img {
    position: absolute;
    left: 0; top: 0;
    z-index: 1;
}
.op .remove-btn,
.op .module-btn {
    /*position: absolute;*/
    transition: all ease 0.3s;
    z-index: 2;
}
/*.op .remove-btn {
    left: 0; top: 0;
}
.op .module-btn {
    left: 0; bottom: 0;
}*/
.op .remove-btn.active {
    flex-grow: 2;
}
.op .module-btn.active {
    flex-grow: 1;
}

button.selected,
.button.selected {
	background-color: #0d79a1;
}

.search-result {
	width: auto;
	padding: 0 0.4em;
    color: #ccc;
}

.search-result .search-result-op {
    cursor: pointer;
    display: inline-block;
    
	/*font-family: 'Noto Sans KR', sans-serif;*/
	font-size: 0.6rem;
    
	padding: 0;
    margin: 0.25em;
	width: 5.5em;
    
	background-color: rgb(38, 38, 38);/*#fff;*/
    /*box-shadow: 0px 0px 2px 1px rgba(255, 127, 0, 0.5);*//*#333;*/
    
    
    /*border: none;*/
    border: 0.03rem solid rgb(0, 0, 0)/*rgba(255, 127, 0, 0.2)*/;
	border-radius: 0.1rem;
	
    transition: opacity 0.2s;
    overflow: hidden;
}

.search-result .search-result-op:hover {
	opacity: 0.7;
}

.search-result .search-result-op img {
    display: block;
	width: 100%;
	margin: 0;
	background-color: rgb(35, 35, 35);
	/*border-top-left-radius: 0.1em;
	border-top-right-radius: 0.1em;*/
}

.search-result .search-result-op div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.15em;
    margin: 0.3em 0;
    padding: 0;
}

.search-result .search-result-op span {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    font-size: 1px;
	margin: 0;
    padding: 0;
	font-weight: 500;
	/*color: #000;*/
	/*text-align: center;*/
	/*vertical-align: middle;*/
    /*word-break: keep-all;*/
	/*overflow: hidden;*/
    /*text-shadow: 0px 0px 1px #333;*//*#777;*/
}

/*********************************************/
.button.square {
    width: var(--op-container--width);
	max-width: 100%;
}

#result-container .show-detailed-result,
#result-container .hide-detailed-result {
	font-size: 0.6rem;
	padding: 0.14em 0.27em;
}

#selected-op-guide, #result-guide {
    width: 100%;
	color: #ccc;
	/*font-family: 'Noto Sans KR', sans-serif;*/
	text-align: center;
    font-size: 0.6rem;
}

.selected-op-header {
	display: inline-block;
	text-align: left;
    width: 100%;
	width: var(--op-container--width);
    max-width: 100%;
}

#selected-op {
	display: inline-block;
	text-align: left;
    width: var(--op-container--width);
    max-width: 100%;
}

#result-container .show-detailed-result,
#result-container .hide-detailed-result {
	/*font-family: 'Noto Sans KR', sans-serif;*/
	margin: 0;
	border: 0.07em solid #777;
	border-radius: 0;
	background-color: #333;
	width: calc(100% - 0.14em);
}

.stage-guide-item {
    background-color: #333;
    font-size: 0.6em;
}

.result-exp-lmd {
	font-size: 0.8em;
}

.result-exp-lmd-container {
	display: inline-block;
	width: 100%;
	text-align: center;
    padding-bottom: 3px;
	margin-top: 2px 2px 0 0;
}

.result-maintitle {
	color: #fff;
	/*font-family: 'Noto Sans KR';*/
    font-size: 1.05rem;
}

.result-subtitle {
	color: #777;
	/*font-family: 'Noto Sans KR';*/
	font-weight: 500;
    font-size: 0.76rem;
}

.sub-line {
	border-top-color: #555;
	border-top-width: 0.11rem;
}

.main-line {
	border-top-color: white;
	border-top-width: 0.18rem;
}

#result-container {
	/*font-family: 'Noto Sans KR', sans-serif;*/
	text-align: left;
    
    border: none;
	font-size: 1rem;
	width: var(--op-container--width);
    max-width: 100%;
    
    background-color: #111;
}

#result-container select {
    color: #fff;
    background-color: #111;
    border-radius: 0.1rem;
    border-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    transition: all 0.35s;
}

#result-container select:hover,
#result-container select:focus {
    outline: none;
    border-color: var(--background--hard-blue);
}

.result-group {
	display: inline-block;
	
	border: 0.07em solid #222;
    
    /*padding-left: 5px;
	margin-top: 3px;*/
}

.result-item-container {
	display: inline-block;
	position: relative;
	
	text-align: center;
    line-height: 1.1;
    
    margin: 0.4em 0.2em;
    padding: 0.4em 0.1em 0;
    /*margin: 0.3em 0.3em 0 0;*/
    
    transition: opacity 0.35s;
}

.result-item-container:hover,
.result-item-container:focus {
    opacity: 0.7;
}

.result-item-container img {
	/*width: 2.6em;*/
    width: 2.6em;
}

.result-item-name {
	display: inline;
	position: absolute;
	top: 0; left: 0;
	
	/*font-family:'Noto Sans KR', sans-serif;*/
	text-align: left;
	word-break: keep-all;
	
	background-color: rgba(0,0,0,0.65);
    box-shadow: 0 0 2px 2px #000;
    
    border-radius: 0.12em;
    
	font-size: 0.52em;
    
    /*text-shadow: 0 0 0.4em black, 0 0 0.4em black, 0 0 0.4em black, 0 0 0.4em black, 0 0 0.4em black, 0 0 0.4em black;*/
}

.result-item-quantity {
	position: absolute;
	bottom: 0; right: 0;
	
	/*font-family:'Noto Sans KR', sans-serif;*/
    
    min-width: 0.56em;
	border-radius: 0.28em;
	font-size: 0.64em;
    color: #eee;
    
    background-color: rgba(0,0,0,0.65);
    box-shadow: 0 0 2px 2px #000;
    /*text-shadow: 0 0 0.4em black, 0 0 0.4em black, 0 0 0.4em black, 0 0 0.4em black, 0 0 0.4em black, 0 0 0.4em black;*/
}
.result-item-quantity.small {
    font-size: 0.5em;
}

img.add-btn {
	position: fixed;
	bottom: 6vmin;
	right: 8vmin;
	z-index: 9;
	width: 10%;
	max-width: 70px;
	cursor: pointer;
	background-color: var(--color--skyBlue);/*rgb(2, 146, 212);*/ /*rgba(2, 163, 236, 0.9);와 동일*/
	border-radius: 100em;
}

#selected-op-container {
	width: 100%;
	text-align: center;
}

hr,
.hr {
    border-color: #333;
    margin-top: 0.2em;
	margin-bottom: 0.4em;
}

/***************** op form *******************/

.op {
    /*font-family: 'Noto Sans KR', sans-serif;*/
    font-size: var(--op--font-size);
    
    display: inline-block;
	position: relative;     /* 제거 버튼 위치 설정을 위해 */
    
    width: var(--op--width);
    height: var(--op--height);
    
    text-align: center;
    
	border: none;
	/*border-bottom: 1px solid #777;*/
	
    border-radius: 0.2rem;/*0;*/
    overflow: hidden;
    
	background-color: #222;
    
	padding: 0 0 0.3em 0;
    margin: 0;
    margin-top: var(--op--margin-top); /* 0.5rem*/
    margin-right: var(--op--margin-right); /* 0.25rem*/
	/*margin: 0.8em 0.04em 0 0;*/
    
    transition: opacity 0.15s;
}

.op hr,
.op .hr {
    margin: 0.3em 0;
}

/*
.op .remove-op-btn:hover,
.op .remove-op-btn:active {
	color: #ad0000;
    background: rgba(255, 0, 0, 0.7);
}
*/


.op .thumb {
    cursor: pointer;
	/*width: 100%;*/
    width: var(--op--width);
    height: var(--op--width);
	background-color: #ddd;
	border-bottom: 0.1rem solid #eee; /*0.08rem solid #eee;/*0.04rem solid #eee;*/
    margin: 0 0 0.3em 0;
}

.op .thumb img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/*
.op .thumb.rarity_1 {
	background-color: #333;
}
.op .thumb.rarity_2 {
	background-color: #555;
}
.op .thumb.rarity_3 {
	background-color: #aaa;
}
.op .thumb.rarity_4 {
	background-color: #1c70b0;
}
.op .thumb.rarity_5 {
	background-color: #db9a0d;
}
.op .thumb.rarity_6 {
	background-color: #c70808;
}
*/

.op .thumb.rarity_1{
    background: #222;
}
.op .thumb.rarity_2{
    background: #222;
}
.op .thumb.rarity_3{
    background: rgba(0, 112, 176, 0.6);
}
.op .thumb.rarity_4{
    background: rgba(159, 109, 163, 0.6);
}
.op .thumb.rarity_5{
    background: rgba(255, 150, 0, 0.6);
}
.op .thumb.rarity_6{
    background: rgba(220, 20, 60, 0.6);
}

/* standard */
/*
.op .thumb.rarity_1{
    background: rgba(159, 159, 159, 0.6);
}
.op .thumb.rarity_2{
    background: rgba(220, 229, 55, 0.6);
}
.op .thumb.rarity_3{
    background: rgba(0, 178, 246, 0.6);
}
.op .thumb.rarity_4{
    background: rgba(219, 177, 219, 0.6);
}
.op .thumb.rarity_5{
    background: rgba(255, 174, 0, 0.6);
}
.op .thumb.rarity_6{
    
    background: rgba(255, 0, 0, 0.6); // original: rgba(255, 102, 0, 0.6)
}
*/

/*
.op .thumb.rarity_1 {
	background-color: #333;
}
.op .thumb.rarity_2 {
	background-color: #333;
}
.op .thumb.rarity_3 {
	background-color: #333;
}
.op .thumb.rarity_4 {
	background-color: rgba(28, 112, 176, 0.6);
}
.op .thumb.rarity_5 {
	background-color: rgba(255, 174, 0, 0.6);
}
.op .thumb.rarity_6 {
	background-color: rgba(199, 8, 8, 0.6);
}
*/

/*
.op .thumb.rarity_1 {
	background-color: #333;
}
.op .thumb.rarity_2 {
	background-color: #333;
}
.op .thumb.rarity_3 {
	background-color: #333;
}
.op .thumb.rarity_4 {
	background-color: rgba(28, 112, 176, 0.6);
}
.op .thumb.rarity_5 {
	background-color: rgba(219, 154, 13, 0.6);
}
.op .thumb.rarity_6 {
	background-color: rgba(199, 8, 8, 0.6);
}
*/

.remove-op {
    transition: opacity 0.25s;
}

/*
.remove-op:hover,
.remove-op:focus {
    opacity: 0.5;
}
*/

.op .set-current-op-level-to-max-btn,
.op .set-target-op-level-to-max-btn {
    font-size: 0.55em;
    
    border-width: 0.04rem;
	padding: 0.01em 0.3em;
}

.op input[type="text"],
.modal input[type="text"] {
	text-align: center;
	background-color: #000;
    border-style: solid;
    border-width: 0.04rem;
	border-radius: 0.1em;
	color: white;
    /*font-family: 'Noto Sans KR', Ariel;*/
    font-size: 0.7em;
    font-weight: 500;
    width: 30%;
    height: 1em;
    /*transition: border-color 0.2s;*/
}
.modal input[type="text"] {
    font-size: 0.85em;
}

/*
.op input[type="text"]:hover:enabled,
.op input[type="text"]:focus:enabled {
    border-color: 
    */

.op select {
    -webkit-appearance:none;
	   -moz-appearance:none;
	        appearance:none;
    
    width: 3.5em;
    height: 1.3em;
    
    /*font-family: 'Noto Sans KR', Ariel;*/
    font-size: 0.7em;
    font-weight: 500;
    color: white;
    
	background-color: black;
    
	border: 0.04rem solid #555;
	border-radius: 0.1em;
}

.op input:disabled,
.op select:disabled,
.op button:disabled { /*select:disabled*/
    cursor: default;
	color: rgb(30,0,0); /*rgb(30,0,0)*/
	background-color: rgb(30,0,0); /*rgb(30,0,0)*/
	border-color: rgb(50, 0, 0);
}

.op .skill span {
    font-size: 0.7em;
}

.op .skill select {
    width: 2em;
}