:root {
    --panel--font-size: 0.7rem;
    --panel--width: 17rem;
    --panel--padding: 0.35rem;
    --panel--max-width: calc(100% - (var(--panel--padding) * 2) - (var(--panel--border-width) * 2));
}

table {
    width: 100%;
}

th,
td {
    text-align: center;
}

td input,
#stack {
    text-align: right;
}

#stack {
    width: 2em;
}

#five-star-guarantee:focus {
    outline: #000;
}

button#five-star-guarantee {
    border: none;
    padding: 0;
}
button#five-star-guarantee.off {
    text-decoration: line-through;
}

hr,
.hr {
	margin-top: 0.2em;
	margin-bottom: 0.7em;
}

.input-panel {
	/*font-family: 'Noto Sans KR', sans-serif;*/
	font-size: var(--panel--font-size);
	text-align: left;
    width: var(--panel--width);
    max-width: var(--panel--max-width);
    padding: var(--panel--padding);
}

.input-panel-subtitle {
    font-size: 1.1em;
	text-align: center;
	font-weight: 500;
    padding: 0;
    margin: 0;
}

.result-panel {
	/*font-family: 'Noto Sans KR', sans-serif;*/
	font-size: var(--panel--font-size);
	text-align: center;
    width: var(--panel--width);
    max-width: var(--panel--max-width);
    padding: var(--panel--padding);
}

.result-panel input {
    width: 2.3em;
}
.result-panel th {
    font-weight: 500;
}

.result-panel-subtitle {
	text-align: center;
	font-weight: 500;
    padding: 0;
    margin: 0;
}

.tag {
    font-weight: 500;
    border-color: rgba(0,0,0,0);
}

::placeholder {
	color: #bbb;
}

input,
select {
	border: 0.07rem solid rgba(255,255,255,0.05);
	border-radius: 0.2em;
	background-color: #000;/*rgba(28, 112, 176, 0.7);*/
	color: #fff;/*var(--color--skyBlue);*/
}

input {
	text-align: center;
	width: 3em;
}

select {
	width: auto;
}