select {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

#selected-op-guide, #result-guide {
	color: #ccc;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: center;
}

#selected-op {
	display: inline-block;
	text-align: left;
}

#result-container .show-detailed-result,
#result-container .hide-detailed-result {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	border: 0.07em solid #777;
	border-radius: 0;
	background-color: #333;
	width: calc(100% - 0.14em);
}

.stage-guide-item {
	display: inline-block;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	color: white;
	width: auto;
	line-height: 100%;
	border: 0.07em solid #333;
	background-color: #333;
	text-align: center;
	word-break: keep-all;
}

.result-exp-lmd-container {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.result-subtitle {
	color: #777;
	font-weight: 500;
}

.sub-line {
	border-top-color: #555;
	border-top-width: 3px
}

.main-line {
	border-top-color: white;
	border-top-width: 5px;
}

.result-item-name {
	display: inline;
	position: absolute;
	top: 0; left: 0;
	
	font-family:'Noto Sans KR', sans-serif;
	text-align: left;
	word-break: keep-all;
	
	background-color: rgba(0,0,0,0.5);
}

.result-item-quantity {
	position: absolute;
	bottom: 0; right: 0;
	
	font-family:'Noto Sans KR', sans-serif;
	
	background-color: black;
}

.result-item-container {
	display: inline-block;
	position: relative;
	
	text-align: center;
	color: white;
}

.result-group {
	display: inline-block;
	
	border: 0.05em solid #222;/*#777;*/
}

#result-container {
	font-family: 'Noto Sans KR', sans-serif;
	text-align: left;
}

img.add-btn {
	position: fixed;
	bottom: 6vmin;
	right: 8vmin;
	z-index: 9;
	width: 10%;
	max-width: 70px;
	cursor: pointer;
	background-color: rgb(2, 146, 212); /*rgba(2, 163, 236, 0.9);와 동일*/
	border-radius: 100em;
}

form.op>button.set-current-op-level-to-max-btn,
form.op>button.set-target-op-level-to-max-btn {
	font-family: 'Noto Sans KR', sans-serif;
}

form.op *.skill-mastery,
form.op select:disabled {
	color: rgb(30, 0, 0);
	background-color: rgb(30, 0, 0);
	border-color: rgb(50, 0, 0);
}

form.op .remove-op-btn:hover,
form.op .remove-op-btn:active {
	color: #ad0000;
}

form.op .remove-op-btn {
	font-family: 'Noto Sans KR', sans-serif;
	line-height: 0.4;
	font-size: 2em;
	width: 100%;
	z-index: 1;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	color: red;
	background-color: rgba(255,255,255,0.5);
	padding: 0;
	padding-bottom: 0.25em;
	margin: 0;
	text-align: center;
}

form.op img {
	width: 100%;
	background-color: #ddd;
	border-bottom: 1px solid #eee;
}

form.op {
	position: relative;
	font-family: 'Noto Sans KR', sans-serif;
	border: none;
	border-bottom: 1px solid #777;
	border-radius: 0;
	background-color: #222;
	padding: 0;
	margin: 0;
	display: inline-block;
}

form select {
	background-color: black;
	border: 0.1em solid #555;
	border-radius: 0.1em;
	color: white;
}

form input[type="text"] {
	text-align: center;
	background-color: rgba(0,0,0,0);
	border: 0.1em solid #555;
	border-radius: 0.1em;
	color: white;
}

div.search-result form img {
	width: 100%;
	margin: 0;
	background-color: #ddd;
	display: inline-block;
	border-top-left-radius: 0.1em;
	border-top-right-radius: 0.1em;
}

div.search-result form:hover {
	opacity: 0.5
}

div.search-result form div {
	width: 100%;
	margin: 0;
	font-weight: 500;
	color: black;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

div.search-result form {
	font-family: 'Noto Sans KR', sans-serif;
	border: none;
	border-radius: 0.1em;
	padding: 0;
	display: inline-block;
	background-color: #fff;
	
	cursor: pointer;
}

div.search-result {
	width: auto;
	padding: 0;
}

.modal-body button.selected {
	background-color: #0d79a1;
}

.modal-body #opname {
	font-weight: 500;
	text-align: left;
	width: 95%;
}

.modal-body button {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0.7em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	border-color: #ccc;
}

.modal-header {
	background-color: #444;
	width: 100%;
	margin: 0;
}

.modal-body {
	font-family: 'Noto Sans KR', sans-serif;
	text-align: left;
}

.modal-footer {
	background-color: #666;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 0.2em;
	text-align: left;
	overflow: auto;
}

.modal-content {
	margin: 4vh auto;
	padding: 0;
	max-height: 92vh;
	text-align: center;
	background-color: #333;
	overflow: auto;
}

.modal .close-btn {
	float: right;
	background-color: red;
	padding: 0;
	text-align: center;
}

.modal .close-btn:hover,
.modal .close-btn:active {
	color: #1c70b0;
}

.modal {
	display: none;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	overflow: auto;
}

hr {
	border-color: #333;
}