#subtitle {
	margin-top: 0.2em;
	font-size: 0.6em;
}

form.op {
	line-height: 0.9;
	max-width: 5.5em;
	/*font-size: 0.47em;*/
}

#result-container {
	font-size: 33px !important
}

.result-subtitle {
	font-size: 22px
}

.result-item-container img {
	width: 80px;
}

.result-item-name {
	font-size: 15px;
}

.result-item-quantity {
	font-size: 18px;
}