.modal-content {
	width: 90%;
}

.modal-body button {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	margin-top: 0.2em;
	border-color: #ccc;
}

.modal-footer {
	max-height: 50vh;
}