@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



html {
	min-height: 100%;
	font-size: 6vmin;
	font-family: 'Nanum Myeongjo';
	line-height: 1.4em;
	margin: 0 auto;
	background-color: black;
	color: white;
	-webkit-user-select: none; 	/* Safari 3.1+ */
	-moz-user-select: none; 	/* Firefox 2+ */
	-ms-user-select: none; 		/* IE 10+ */
	user-select: none; 			/* Standard syntax */
}

body {
	min-height: 100%;
	margin: 0 auto;
	padding-top: 0;
	padding-right: 3vmin;
	padding-left: 3vmin;
	padding-bottom: 0;
}

a {
	color: white;
	text-decoration: none;
}

img {
	display: block;
	height: 3em;
}

h2 {
	font-weight: 700;
	font-size: 5vmin;
	text-align: center;
}

form {
	margin: 0.5em auto;
	padding: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.2em;
	width: 80vmin;					/* mobile 80vmin */
	border: 0.07em solid white;
	border-radius: 0.5em;
}


/*form.pc {*/
	/*width: 90vmin;*/					/* PC 90vmin*/
/*}*/

.normalButton, .checkboxButton, .checkboxTag {
	display: none;
}

.normalButton + label, .checkboxButton + label {
	width: auto;
	font-family: 'Nanum Myeongjo', serif;
	font-weight: 500;
	font-size: 4.2vmin;
	color: white;
	padding-top: 0.8vmin;
	padding-bottom: 0.8vmin;
	padding-right: 2.5vmin;
	padding-left: 2.5vmin;
	border: 0.025em solid white;
	border-radius: 0.5vmin;
	transition: background-color 0.2s ease;
	background-color: black;
	text-align: center;
}

.checkboxTag + label {
	
	font-family: 'Noto Sans KR', sans-serif;
	/*font-family: 'Nanum Myeongjo', serif;*/
	display: inline-block;
	line-height: 100%;
	margin-top: 0vmin;
	margin-bottom: 2vmin;
	
	width: auto;
	font-size: 3vmin;
	padding-top: 0.7vmin;
	padding-bottom: 0.5vmin;
	padding-right: 1vmin;
	padding-left: 1vmin;
	border: 0.07em solid #333333;
	border-radius: 1vmin;
	transition: border-color 0.2s ease;
	background-color: black;
	text-align: center;
	word-break: keep-all;
}

/* 체크박스 버튼에 대한 호버링 효과는 PC에서만 */
/* 라벨 버튼에 대한 호버링 효과들 */
.normalButton + label:hover, .checkboxButton:checked + label, .checkboxButton + label.pc:hover {
	background-color: #0d79a1;
}

.checkboxTag:checked + label {
	border-color: #0c93c4;
}

.checkboxTag + label.pc:hover {
	border-color: #096485;
}

.result_tag {
	
	font-family: 'Noto Sans KR', sans-serif;
	/*font-family: 'Nanum Myeongjo', serif;*/
	display: inline-block;
	width: auto;
	line-height: 100%;
	font-size: 3vmin;
	margin-right: 1vmin;
	padding-top: 0.7vmin;
	padding-bottom: 0.5vmin;
	padding-right: 1vmin;
	padding-left: 1vmin;
	margin-bottom: 1vmin;
	border: 0.07em solid #444444;
	border-radius: 1vmin;
	background-color: #444444;
	text-align: center;
	word-break: keep-all;
}

.result_op {
	
	font-family: 'Noto Sans KR', sans-serif;
	/*font-family: 'Nanum Myeongjo', serif;*/
	display: inline-block;
	width: auto;
	line-height: 100%;
	font-size: 3vmin;
	margin-right: 1vmin;
	padding-top: 0.7vmin;
	padding-bottom: 0.5vmin;
	padding-right: 1vmin;
	padding-left: 1vmin;
	border: 0.07em solid #333333;
	border-radius: 1vmin;
	transition: border-color 0.2s ease;
	background-color: black;
	text-align: center;
	word-break: keep-all;
}


.result_op:hover, .result_op:focus {
	border-color: #096485;
}

/* 툴팁 */
#tooltip {
	display: inline-block;
	line-height: 100%;
	z-index: 9999;
	position: absolute;
	border: none;
	border-radius: 0.2em;
	color: #ddd;
	/*font-weight: bold;*/
	font-size: 3vmin;
	opacity: 0.95;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 0.3em;
	padding-right: 0em;
	padding-bottom: 0em;
}

/* 1, 2성 확정식 폼 보더 색상은 회색
(최소 별갯수는 최대 별갯수가 1/2성이 아닌 이상 1/2성을 스킵하고 3성 이상이 되도록 판정하므로)*/
form.star_1 {
	border-color: #333;
}

form.star_2 {
	border-color: #555;
}

form.star_3 {
	border-color: #ccc;
}

/* 4성 확정식 폼 보더 색상은 파랑*/
form.star_4 {
	border-color: #1c70b0;
}

/* 5성 확정식 폼 보더 색상은 주황-노랑 사이*/
form.star_5 {
	border-color: #db9a0d;/*#eda60c;*//*#ffae00;*//*#ba5e18;*/
}

/* 6성 확정식 폼 보더 색상은 주황-빨강 사이*/
form.star_6 {
	border-color: #c70808; /*#e0620d;*/
}

/*
input, select {
	transition: background-color 0.35s ease;
	background-color: white;
	font-family:'배민주아체';
	font-size: 8vmin;
	text-align: center;
	margin: auto;
	padding: 1vmin 1vmin 1vmin 1vmin;
	width: 100%;
	height: 10vmin;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0 solid white;
	border-radius: 3vmin;
}*/

/*
input:focus, input:hover, select:focus, select:hover {
	transition: background-color 0.2s ease;
	background-color: lightpink;
}*/

.copyright {
	font-size:2vmin;
}

/*
#calcResult {
	font-size:80%;
}*/