button:active, .checkboxButton:not(:checked)+label:active {
	background-color: #11a0d9;
}

.checkboxButton:checked+label:active {
	background-color: rgba(13, 121, 161, 0.2);
}

#toast {
	font-size: 1em;
}