:root {
    --item--width: 3.63rem;
    --item-body--height: calc(var(--item--width) / 2);
    --item--border-width: 0.04rem;
    --item--margin-top: 0.19rem;
    --item--margin-bottom: 0.19rem;
    --item--margin-left: 0.1rem;
    --item--margin-right: 0.1rem;
    --item--total-width: calc(var(--item--width) + (var(--item--border-width) * 2) + var(--item--margin-left) + var(--item--margin-right))
}
/*3.9166666666666666666666666666667*/
.modal-content {
    width: 500px;
    /* max-width는 main의 기본값 그대로 */
}

/********************/

hr {
	border-top-color: #333;
}

.item-container {
	margin-top: 0;
	margin-bottom: 0.2rem;
	width: 100%;
	max-width: calc((var(--item--total-width) * 9) + 1px); /* 한 줄에 아이템이 최대 몇 개까지 표시될 지 결정 */
	text-align: left;
	background-color: #222;
}

.item.grade_5 {
	border: var(--item--border-width) solid #f8c500;
}

.item.grade_4 {
	border: var(--item--border-width) solid #cab9d6;
}

.item.grade_3 {
	border: var(--item--border-width) solid #02a4ee;
}

.item.grade_2 {
	border: var(--item--border-width) solid #dbe436;
}

.item.grade_1 {
	border: var(--item--border-width) solid #a0a0a0;
}

.item {
	display: inline-block;
	padding: 0;
	
	/*font-family: 'Noto Sans KR';*/
	/*font-size: 0;*//*20px;*/
	
	width: var(--item--width); /* 100px;*/
    border-width: var(--item--border-width);
	border-radius: 0;
	background-color: #222;
    margin: var(--item--margin-top) var(--item--margin-left);
    
    overflow: hidden;
}

/* 상하여백: 5픽셀 고정 */
/* 좌우여백: 최소 2픽셀, 최대 5픽셀 */

/*
@media screen and (max-width: 318px) {
	.item {
		margin: 5px 2px;
	}
}
@media screen and (max-width: 336px) {
	.item {
		margin: 5px calc((100vw - (102px * 3)) / 6);
	}
}
@media screen and (min-width: 337px) {
	.item {
		margin: 5px 5px;
	}
}
*/

.item_body {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	
	padding-bottom: 0.1rem;
    
	width: var(--item--width);
	height: var(--item-body--height);
	border-radius: 0.04rem;
}

.item_thumb {
	display: block;
	position: relative;
	
	margin: 0;
	padding: 0;
	
	width: var(--item--width);
	height: var(--item--width);
	
	border-radius: 0;
	
	background-color: #444;
	color: white;
	
	text-align: center;
}


/*.item_thumb.minus {*/
	/*background-color: #993434/*#990e0e;*/
/*}*/


.item_thumb img {
	width: var(--item--width);
	height: var(--item--width);
	margin: 0;
	object-fit: scale-down;
}


.item_thumb_name {
	display: inline-block; 
	position: absolute; 
	top: 0; left: 0; 
	
	padding: 0.2em;/*3px;*/
    
	/*font-family:'Noto Sans KR', sans-serif; */
	font-size: 0.57rem;
	
	word-break: keep-all; 
	text-align: left; 
	
	background-color: rgba(0, 0, 0, 0.6); 
	
	border-radius: 0;
}


.item_thumb_quantity {
	position: absolute;
	bottom: 0; right: 0; 
	
	padding-left: 0.2em; 
	padding-right: 0.2em;
	
	min-width: 1.1em;
    height: 1.1em;
	
	/*font-family:'Noto Sans KR', sans-serif;*/
	font-size: 0.7rem;
	font-weight: 500; 
	text-align: center;
	
	color: white;
	background-color: black; 
	
	border-radius: 0;
	border-top-left-radius: 0.2rem;
}

.item_thumb_quantity.minus {
	background-color: red;
}

.item_thumb_quantity.plus {
	background-color: rgb(13, 121, 161);
}

.item_body_have, .item_body_need {
	display: inline-block; 
	padding: 0; margin: 0;
	
	width: calc(var(--item--width) / 2);
	
	font-size: 0.57rem;
	color: #777;
}

.item_body_have_input, .item_body_need_input {
	margin: 0; 
	
	/*font-family: 'Noto Sans KR'; */
	font-size: 0.54rem; 
	text-align: center;
	
	width: 80%;
    height: 1em;
	
	color: #eee;
	background-color: #000; 
	
	border: 0.04rem solid #333; 
}
