.item-container {
	margin-top: 0;
	margin-bottom: 5px;
	width: 100%;
	max-width: 50vw/*440px*/;
	/*background-color: #444;*/
	text-align: left;
}


.item {
	display: inline-block;
	margin: 0;
	margin-top: 10px;
	margin-right: 10px;
	padding: 0;
	
	font-family: 'Noto Sans KR';
	font-size: 20px;
	
	width: 100px;
	
	border-radius: 5px;
	
	background-color: #222;
}

.item_body {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	
	width: 100px;
	height: 50px;
	border-radius: 1px;
}

.item_thumb {
	display: inline-block;
	position: relative;
	
	margin: 0;
	padding: 0;
	
	width: 100px;
	height: 100px;
	
	border-radius: 5px;
	
	background-color: #777;
	color: white;
	
	text-align: center;
}

.item_thumb img {
	width: 100px;
	height: 100px;
	margin: 0;
	object-fit: scale-down;
}


.item_thumb_name {
	display: inline-block; 
	position: absolute; 
	top: 0; left: 0; 
	
	padding: 0;
	padding-right: 1px;
	padding-bottom: 1px;
	
	font-family:'Noto Sans KR', sans-serif; 
	font-size: 15px;
	
	word-break: keep-all; 
	text-align: left; 
	
	background-color: rgba(0, 0, 0, 0.5); 
	
	border-radius: 0px; 
	border-top-left-radius: 5px; 
	border-bottom-right-radius: 5px;
}


.item_thumb_quantity {
	position: absolute;
	bottom: 0; right: 0; 
	
	padding-left: 3px; 
	padding-right: 3px;
	
	min-width: 20px;
	
	font-family:'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 500; 
	text-align: center;
	
	color: white;
	background-color: black; 
	
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.item_thumb_quantity.minus {
	background-color: red;
}

.item_thumb_quantity.plus {
	background-color: rgb(13, 121, 161);
}


.item_body_have, .item_body_need {
	display: inline-block; 
	padding: 0; margin: 0;
	
	width: 50px;
	
	font-size: 15px;
	color: #777;
}

.item_body_craft-config-btn {
	display: inline-block;
	position: absolute;
	top: -4px; left: 3px;
	
	padding: 0; padding-top: 2px; padding-bottom: 2px;
	margin: 0;
	
	width: 94px;
	
	border: none;
	
	color: #eee;
	background-color: #333;
	
	font-size: 13px;
	font-weight: 300;
	font-family: 'Noto Sans KR';
	text-align: center;
}

.item_body_craft-config-btn.no {
	background-color: #333;
}
.item_body_craft-config-btn.as-possible {
	background-color: rgb(13, 121, 161);
}
.item_body_craft-config-btn.all {
	background-color: rgb(204, 0, 0);
}


.item_body_have_input, .item_body_need_input {
	margin: 0; 
	
	font-family: 'Noto Sans KR'; 
	font-size: 14px; 
	text-align: center;
	
	width: 40px;
	
	color: #eee;
	background-color: black; 
	
	border: 1px solid #333; 
}


/*
.mcalc_item {
	display: inline-block;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 3vmin;
	font-weight: 300;
	color: white;
	width: auto;
	line-height: 100%;
	margin-right: 1vmin;
	padding-top: 0.5vmin;
	padding-bottom: 0.5vmin;
	padding-right: 1vmin;
	padding-left: 1vmin;
	margin-bottom: 1vmin;
	border: 0.07em solid #333;
	border-radius: 1vmin;
	background-color: #333;
	text-align: center;
	word-break: keep-all;
}

input[type="text"].mcalc_num-of-item {
	border: none;
	border-radius: 0.3em;
	background-color: rgba(0,0,0,0.5);
	color: #ccc;
	font-size: 0.8em;
	text-align: right;
	width: 2.4em;
}
*/