
@font-face {
	font-family:'배민연성체';
	src:url('../fonts/bmyeonsung.woff2') format('woff2'),
		url('../fonts/bmyeonsung.woff') format('woff'),
		url('../fonts/bmyeonsung.ttf') format('truetype');
}


@font-face {
	font-family:'배민주아체';
	src:url('../fonts/bmjua.woff2') format('woff2'),
		url('../fonts/bmjua.woff') format('woff'),
		url('../fonts/bmjua.ttf') format('truetype');
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

html {
	font-size: 4vmin;
	font-family: '배민주아체';
	width: auto;
	height: auto;
	margin: 0 auto;
	background-color: black;
	color: white;
}

body {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	padding-top: 0;
	padding-right: 3vmin;
	padding-left: 3vmin;
	padding-bottom: 3vmin;
}

a {
	color: white;
	text-decoration: none;
}

a:active {
	color: lightpink;
}

img {
	display: block;
	height: 3em;
}

h1 {
	margin: 0;
	padding-top: 1%;
	font-family: 'Montserrat', sans-serif;
	font-size: 7vmin;
	text-align: center;
	text-shadow: 3px 3px 20px lightgray;
	color: pink;
}
h2 {
	font-family: 배민주아체;
	font-size: 4vmin;
	text-align: center;
}

p, li {
	line-height: 2;
	letter-spacing: 1px;
}

form {
	margin: 1em auto;
	padding: 1em;
	padding-top: 0;
	width: 60vmin;
	border: 0.2em solid white;
	border-radius: 1em;
}

button {
	width: auto;
	font-family: '배민주아체';
	font-size: 5vmin;
	padding-top: 0.7vmin;
	padding-bottom: 0.5vmin;
	padding-right: 3vmin;
	padding-left: 3vmin;
	border: 0.1em solid white;
	border-radius: 3vmin;
	transition: background-color 0.2s ease;
	background-color: lightpink;
	text-align: center;
}

button:focus, button:hover {
	transition: background-color 0.2s ease;
	background-color: #E75FB9;
}

input, select {
	transition: background-color 0.35s ease;
	background-color: white;
	font-family:'배민주아체';
	font-size: 8vmin;
	text-align: center;
	margin: auto;
	padding: 1vmin 1vmin 1vmin 1vmin;
	width: 100%;
	height: 10vmin;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0 solid white;
	border-radius: 3vmin;
}

input:focus, input:hover, select:focus, select:hover {
	transition: background-color 0.2s ease;
	background-color: lightpink;
}

.copyright {
	font-family:배민연성체;
	font-size:2vmin;
}
.copyright_m {
	font-family:배민연성체;
	font-size:2vmin;
}

#leftDay, #leftHour {
	width:25%;
	text-align:right;
}
#regenStaminaUsage, #currentTicket, #currentItem, #drink10, #drink20, #drink30, #maxDrink, #currentPoint, #targetPoint {
	width:80%;
}
#currentLevel, #currentExp, #currentStamina {
	width:100%;
}
#calcResult {
	font-size:80%;
}