html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	background-color: black;
	color: white;
}

body {
	margin: 0 auto;
	padding: 0 20px 20px 20px;
}

html:active {
	color: lightpink;
}
a {
	color: white;
	text-decoration: none;
}

a:active {
	color: lightpink;
}

img {
	display: block;
	margin: 10px 0;
}

h1 {
	margin: 0;
	padding: 20px 0;
	font-family: 'Noto Sans', sans-serif;
	font-size: 50px;
	text-align: center;
	text-shadow: 3px 3px 20px lightgray;
	color: pink;
}
h2 {
	font-size: 20px;
	text-align: center;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}
